* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.nav {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-logo {
    height: 50px;
    width: 100px;

}

.logo {
    background-image: url("./Images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;

}

.border {
    border: 1px solid transparent;
    padding: 5px;
}

.border:hover {
    border: 1px solid white;
}


/* address */
.add-icon {
    display: flex;
}

.add-first {
    color: #cccccc;
    font-size: 12px;
    margin-left: 20px;
}

.add-sec {
    font-size: 14px;
}

/* search */

.nav-search {
    display: flex;
    width: 890px;
    height: 40px;
    background-color: #febd69;
    border-radius: 4px;
}

.search-select {
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #e6e6e6;
    border: none;
}

.search-text {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0f1111;
}

.src-border:hover {
    border: 2px solid orange;
}

/* nav signin */

.nav-first {
    font-size: 12px;
}

.nav-second {
    font-size: 14px;
    font-weight: 700;
}

.nav-cart i {
    font-size: 28px;
}

.panel {
    height: 40px;
    width: 100%;
    background-color: #232f3e;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.panel-all {
    margin-left: 10px;
}

.panel-op p {
    display: inline;
    margin-left: 10px;
}

.panel-op {
    width: 94%;
    font-size: 14px;

}


.hero-section {
    background-image: url("./Images/hero_image.jpg");
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.hero-msg {
    background-color: white;
    color: black;
    height: 40px;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 200px;

}

.hero-msg a {
    color: #2162a1;
}

/* shop-section */
.shop-section {

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* align-content: space-between; */
    margin-top: -183px;
}

.shop-col {
    width: 98%;
    display: flex;
    justify-content: space-between;
    /* background-color: violet; */

}

.box {
    width: 24%;
    height: 400px;
    border: 1px solid transparent;
    margin-bottom: 10px;
    background-color: #ffffff;
    padding: 20px 0px 15px 0px;
}

.box-content {
    margin-left: 20px;
    margin-right: 20px;
}

.box1-img {
    background-image: url('./Images/box1_image.jpg');
    height: 330px;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 5px;
}

.shop-link {
    color: #2162a1;
    text-decoration: none;
    /* border: 1px solid black; */
    /* padding-top:10px; */
}

.shop-Text {
    font-size: 21px;
}

.img-row {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 10px;

}


/* .item {
    width: 50%;
    border: 1px solid transparent;
} */

.box-img img {
    width: 150px;
    height: 133px;
}

.content-name {
    color: #0f1111;
    text-decoration: none;
    font-size: 12px;
}


.shop-scroll {
    width: 98%;
    height: 300px;
    /* border: 1px solid black;  */
    background-color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 20px 15px 15px 15px;
}

.scroll-text {
    font-size: 21px;
}

.scroll-row {
    margin-top: 4px;
    display: flex;
    justify-content: space-evenly;
    overflow-x: auto;
    gap: 20px;
}

.scroll-item img {
    width: 172px;
    height: auto
}

footer {
    margin-top: 15px;
}

.footer-panel-1 {
    background-color: #37475a;
    color: white;
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 15px 0 15px 0;
}

.footer-panel-2 {
    background-color: #232f3e;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;

}

.footer-panel-2 ul {
    margin-top: 40px;
}

.footer-panel-2 ul a {
    display: block;
    font-size: 14px;
    margin-top: 10px;
    color: #DDDDDD;
}

.footer-panel-2 ul a:hover{
    text-decoration: underline;
     cursor: pointer;
    
}

.footer-panel-3 {
    background-color: #232f3e;
    color: white;
    height: 70px;
    border-top: 0.5px solid #3a4553;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-panel-4 {
    background-color: #131a22;
    color: white;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 50px;
    text-align: center;
    font-size: 12px;
}

.pages {
    padding-top: 10px;
    
}

.copyright {
     padding-top: 5px;
   
}